Imagine you have function, which takes a dataframe and makes a change to it or adds a new column to it.  
to use that, I know of three ways. In this post we will see, what must we do to be able to use the third option.  

1. use `df.pipe(my_new_function, params)`
2. use `df = my_new_function(df, params)`
3. use `df.my_new_function(params)`

In order to use the third option, you need to use the `@as_method` decorator while defining the `my_new_function`. The decorator uses the

In [ ]:
df.pipe(my_new_function, params)
df = my_new_function(df, params)
df.my_new_function(params)

In [2]:
from copy import deepcopy
from functools import wraps
import pandas as pd
from pandas.core.base import PandasObject

def as_method(func):
    """
    This decrator makes a function also available as a method.
    The first passed argument must be a DataFrame.
    """
    # from functools import wraps
    # from copy import deepcopy
    # import pandas as pd
    # from pandas.core.base import PandasObject

    @wraps(func)
    def wrapper(*args, **kwargs):
        return func(*deepcopy(args), **deepcopy(kwargs))

    setattr(PandasObject, wrapper.__name__, wrapper)

    return wrapper

The decorator uses `PandasObject`which I first learned about in this Post:
https://stackoverflow.com/questions/43504068/create-my-own-method-for-dataframes-python/53630084#53630084

Now lets try it:

In [3]:
@as_method
def augment_x(DF, x):
    """We will be able to see this docstring if we run ??augment_x"""
    DF[f"column_{x}"] = x

    return DF


df = pd.DataFrame({"A": [1, 2]})
df

   A
0  1
1  2

In [4]:
df.augment_x(10)

   A  column_10
0  1         10
1  2         10

As you can see, the original DataFrame is not changed. As if there is a inplace = False

In [5]:
df

   A
0  1
1  2

You can still use the augment_x as a simple function:

In [6]:
augment_x(df, 2)

   A  column_2
0  1         2
1  2         2